 <style>
            html {
                scroll-behavior: smooth;
                font-size: 16px;
            }

            body {
		width: 100%;
		margin: 0;
		padding: 0;
                background-color:none;
		overflow-x:hidden;
            }

	    ::selection {
		background-color:DDD4FF;
            }

	    .site-content {
		position: relative;
		width:100%;
		margin: auto;
		margin-top:0;
		margin-bottom:0;
		max-width: 1000px;
		background-color:none;
	    }
	    
	    .header-bar {
		 position:fixed;
		 margin: none;
		 padding: none;
		 background-image: linear-gradient(black,white);
		 width: 100%;
		 height: 7rem;
		 text-align: right;
		 z-index: 1;
            }

            .container-menu-list {
                position: relative;
                top: 3rem;
		left: 14ch;
                margin: none;
                padding: none;
                width: 20rem;
                background-color: none;
                text-align: left;
		z-index:1;
            }

            .container-project {
                position: relative;
                top: 16rem;
                margin: none;
                padding: none;
                width: 10rem;
                background-color: pink;
                text-align: left;
		z-index:2;
            }

	    p.description {
	    	position:fixed;
		width: 100%;
		font-family: Anaheim;
		font-size: 1rem;
		margin:0;
		padding:0;
	    }

            .header-bar-text {
                position: fixed;
                top: 3rem;
                right: 14rem;
                margin: none;
                padding: none;
                width: 25rem;
                background-color: none;
                text-align: right;
		z-index:2;
            }

            ul.menu-list{
		position:fixed;
                font-family: Anaheim;
                font-size: 3rem;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            ul.info{
		position:fixed;
                font-family: Anaheim;
                font-size: 1rem;
                list-style-type: none;
                margin: 0;
                padding: 0;
		transform: translate(0,30rem);
            }		

            span.robert {
                position:fixed;
                margin: none;
                padding: none;
                font-family: Anaheim;
                text-align: right;
                width: 6ch;
		background-color:none;
                transform: translate(-6ch,0);
            }

            li a.menu-list {
                text-decoration: none;
                color: #000000;
            }

            li a.menu-list:hover {
                color: rgb(55, 0, 255)
            }

            .scroll-container {
                position: relative;
                top: 6rem;
		margin-left:22rem;
                padding: 0;
                font-family: Anaheim;
                font-size: 2rem;
		background-color:none;
            }

            #about {
                position: absolute;
                top:-6.4rem;
                font-family: Anaheim;
                font-size: 25px;
                background-color: none;
            }

            #work {
                position: absolute;
                top:-6rem;
                padding: 0;
                font-family: Anaheim;
                font-size: 25px;
                background-color: none;
            }

            #contact {
                position: absolute;
                top:-6rem;
                padding: 0;
                font-family: Anaheim;
                font-size: 25px;
                background-color: none;
            }

            #blog {
                position: absolute;
                top:-6rem;
                padding: 0;
                font-family: Anaheim;
                font-size: 25px;
                background-color: none;
            }

            .container-content {
                position: relative;
                margin-bottom: 100px;
                font-family: Anaheim;
                font-size: 25px;
		background-color: none;
            }

            .projects-grid {
                display: grid;
                margin: 0;
                padding: 0;
                grid-gap: 0.5%;
                grid-template-columns: repeat(3, 33%);
                grid-template-rows: repeat(3,33%);
            }

            .projects-grid-item {
                position: relative;
                margin: 0;
                padding: 0;
                
            }

	    @media only screen and (max-width: 800px) {
		    [class="square-container"] {
			width:100%;
			display: grid;
			margin: 0;
			padding: 0;
			grid-template-columns: repeat(1, 100%);
		    }
	    }

            .menutile {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .projects-grid-selection-overlay {
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: 0.5s ease;
                background-color: white;
            }

            .projects-grid-item:hover .projects-grid-selection-overlay {
                opacity: 1.0;
            }

            .projects-grid-selection-text {
                color: black;
                font-size: 25px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }

            ul.contact-info-list{
                list-style-type:none;
                margin: 0;
                padding: 0;
            }

            span.highlight {
                color: rgb(55, 0, 255);
            }

		.square-container {
		  display: grid;
		  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
		  grid-gap: 5px;
		}

		.square {
		  background: none;
		  padding-top: 100%; /* padding trick directly on the grid item */
		  box-sizing: border-box;
		  position: relative;
		}

		.square .content { /* absolutely positioned */
		  position: absolute;
		  top: 0;
		  right:0;
		  left: 0;
		  bottom: 0;
		}
        </style>
