            html {
                scroll-behavior: smooth;
                font-size: 16px;
            }

            body {
                width: 100%;
                height:100%;
                margin: 0;
                padding: 0;
                background-color:none;
                overflow-x:hidden;
            }

            .cover-page {
                position:absolute;
                width: 100%;
                height:100%;
                margin: 0;
                padding: 0;
                background-image: url("https://robertiainferguson.github.io/fergsite/cover/bakersfield.gif");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                overflow-x:hidden;
            }

            ::selection {
                background-color:#cacaca;
            }

            .site-content {
                width:100%;
                height:100%;
                margin: auto;
                margin-top:0;
                margin-bottom:0;
                max-width: 1000px;
                background-color:none;
	        }

            .container-menu-list {
                position: relative;
                top: 3rem;
		        left: 2rem;
                margin: none;
                padding: none;
                width: 20rem;
                background-color: none;
                text-align: left;
            }

            .projects-container {
                position: relative;
                top: 16rem;
                margin: none;
                padding: none;
                width: 20rem;
		        height:auto;
                text-align: left;
                background-color: lightgrey;
            }

            .desc {
                position:fixed;
                font-family: Anaheim;
                width: 20rem;
                height:auto;
                font-size: 1rem;
                margin:0;
                padding:0;
                background-color: bisque;
	        }

            ul.menu-list{
		        position:fixed;
                font-family: Anaheim;
                font-size: 3rem;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            ul.info-2{
		        position:absolute;
                bottom: 6rem;
                font-family: Anaheim;
                font-size: 1rem;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }	
            
            ul.info{
		        position:fixed;
                top: 28rem;
                font-family: Anaheim;
                font-size: 1rem;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }	
/*
            span.robert {
                position:fixed;
                margin: none;
                padding: none;
                text-align: right;
                width: 6ch;
                background-color:none;
                text-decoration:inherit;
                color:inherit;
                transform: translate(-6ch,0);
            }
*/


            span.robert {
                visibility: hidden;
                pointer-events:none;
            }

            span.robert:hover {
                pointer-events:none;
                display:none;
            }


            ul.menu-list li a:hover {
                color:#ffeec0;
                background-image: -webkit-linear-gradient(45deg, #ffe18e, #8ef7ff);
                background-size: 300%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: move 5s infinite alternate;
            }
            
            ul.menu-list li a {
                text-decoration:none;
                color:#565656;
            }
            
            ul.menu-list li a.selected-list-item{
                color:#ffeec0;
                background-image: -webkit-linear-gradient(45deg, #ffe18e, #8ef7ff);
                background-size: 300%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: move 5s infinite alternate;
            }

            .scroll-container {
                position:relative;
                top: 6rem;
		        margin-left:23rem;
                padding: 0;
                font-family: Anaheim;
                font-size: 2rem;
                height: auto;
            }
            
            .container-content {
                padding-top: 6.3rem;
                position:relative;
                width:100%;
                height:auto;
                font-family: Anaheim;
                font-size: 25px;
                color: #565656;
		        background-color: none;
                padding-bottom:100px;
            }

            #cover {
                color:#ffeec0;
                background-image: -webkit-linear-gradient(45deg, #ffe18e, #8ef7ff);
                background-size: 300%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: move 5s infinite alternate;
            }

            #cover:hover {
                color:grey;
                background-image: none;
                -webkit-background-clip: none;
                -webkit-text-fill-color: grey;
                animation: none;
            }


            @keyframes move {
                0% {
                    background-position: left;
                }
                100% {
                    background-position: right;
                }
            }
            
            @keyframes blinker {
                50% {
                  opacity: 0.25;
                }
              }

            #home {
                padding-top:0;
                padding-bottom:0;
            }

            #project {
                padding-top:0;
            }
    
            #about {
                padding-bottom:6.5rem;
            }

            #work {
                padding-top:6.5rem;
            }

            #contact {
            }

            #blog {
            }

            .projects-grid {
                display: grid;
                margin: 0;
                padding: 0;
                grid-gap: 0.5%;
                grid-template-columns: repeat(3, 33%);
                grid-template-rows: repeat(3,33%);
            }

            .projects-grid-item {
                position: relative;
                margin: 0;
                padding: 0;
                
            }
/*
	    @media only screen and (max-width: 800px) {
		    [class="square-container"] {
			width:100%;
			display: grid;
			margin: 0;
			padding: 0;
			grid-template-columns: repeat(1, 100%);
		    }
	    }
*/
            .menutile {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .project-image {
                width:100%;
                height: 100%;
                object-fit: cover;
                margin-bottom:5px;    
            }

            .projects-grid-selection-overlay {
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: 0.5s ease;
                background-color: white;
            }

            .content:hover .projects-grid-selection-overlay {
                opacity: 1.0;
            }

            .projects-grid-selection-text {
                position:absolute;
                color: #565656;
                font-size: 25px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }

            ul.contact-info-list{
                list-style-type:none;
                margin: 0;
                padding: 0;
            }

            span.highlight {
                color: rgb(55, 0, 255);
            }

            .square-container {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
                grid-gap: 5px;
            }

            .square {
                background: none;
                padding-top: 100%; /* padding trick directly on the grid item */
                box-sizing: border-box;
                position: relative;
            }

            .square .content { /* absolutely positioned */
                position: absolute;
                top: 0;
                right:0;
                left: 0;
                bottom: 0;
            }

            .site-footer {
                position: relative;
                bottom: 3rem;
                font-family: Anaheim;
                font-size: 1rem;
                background-color: none;
                text-align: right;
            }